# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.Python

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Test coverage
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Environment variables
.env
*.env

# FastAPI specific
instance/
*.sqlite3

# Logs
*.log

#db
postgres